@media screen and (min-width:768px) {
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;
  }
  
  .login-container {
    flex: 1;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .canvas-container {
    margin-left: -25%;
    margin-top: -25%;
    margin-bottom: -12%;
    border-radius: 70%;
    width: 80%;
    flex: 1;
    background-color: #003c98;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width:768px){
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;
  }
  .login-container {
    flex: 1;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  canvas {
    display: none;
  }
  .canvas-container{
    display: none;
  }
}
